@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green-one: #103c00;
  --green-two: #35711f;
  --green-three: #60a543;
  --green-four: #e6efc5;
  --tan-one: #4f463c;
  --tan-two: #e7cbaf;
  --grey-one: #333333;
  --grey-two: #808080;
  --grey-three: #f2f2f2;
}

.hero-section-container {
  background-image: url(/TopHeaderImage.png);
}

a,
svg {
  color: var(--green-two);
}
